<main class="index">
<div class="container-fluid"></div>
    <header class="masthead d-flex">
<div class="col-md-7 mx-auto">
    <div class="container text-center my-auto">
    <h1 class="mb-1 text-uppercase text-warning">MercadoNet</h1>
    <h3 class="mb-4">
        <em class="text-light ">Todos tus productos en un solo lugar...</em>
        </h3>
        <a href="/allproducts" class="btn btn-outline-light"><h4>Ver listas de productos!</h4></a>
</div>
</div>
</header>

</main>